.main-content{
	padding: 50px 0 0 0px;
	margin: 0;
	text-align: center;
	.owl-shops{
		position: relative;
		padding: 50px 0;
		min-height: 510px;
		margin: 0;
		background-color: #eee;
	}
	.heading-block{

	}
	.primary-heading{
		font-size: 200%;
		color: #666;
	}
	.secondary-heading{
		font-size: 120%;
		color: #888;
	}
	.image-block{
		min-height: 410px;
	}
	.image-each{
		display: inline-block;
	}
	.search-panel{

	}
	.search-title{

	}
}