<header-component></header-component>

<div class="main-content">
	<!-- <div class="search-panel">
		<search-component input-text="vm.inputText"></search-component>
		
	</div> -->

	<div class="owl-shops">
		<div class="image-block">
			<div class="image-each"><img src="http://placehold.it/250x400" alt=""></div>
			<div class="image-each"><img src="http://placehold.it/250x400" alt=""></div>
			<div class="image-each"><img src="http://placehold.it/250x400" alt=""></div>
		</div>

		<div class="heading-block">
			<h1 class="primary-heading">Be an Owl.</h1>
			<h2 class="secondary-heading">We have you covered.</h2>
				
		</div>
	</div>
	
	<footer-component></footer-component>
</div>	
