.header{
	height: 50px;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;	
	margin: 0;
	padding: 15px 10px;
	background-color: #555;
	color: #eee;
	z-index: 5;
	.main-title{
		font-family: 'Lobster', cursive;
		display: inline-block;
		font-size: 130%;
	}
	nav{
		float: right;
		display: inline-block;
		height: auto;
		margin: 0;
		font-family: 'Lato', sans-serif;
		font-size: 110%;
	}
	ul{
	    display: inline-block;
	}
	li{
		display: inline-block;
		padding: 0 5px;
	}
	// li:last-of-type {
	//   	font-size: 0.75em;
	// }
	li a{
		color: #eee;
	}
	li a:hover{
		text-decoration: none;
		color: #bbb;
	}
}